.login-container {
  height: 80px;
  display: flex;
  align-items: center;
}

.login-container .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  border: 3px solid #ddd;
}

.login-container .username {
  flex: 1;
  color: #fff;
}

.login-container .login-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
